<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Customer</title>
    <link rel="stylesheet" th:href="@{/bootstrap-5.3.8-dist/css/bootstrap.min.css}">

</head>
<body>

<div class="container mt-5">
<h3 class="text-center mb-4">Add Customer</h3>
<form th:action="@{/customers/save}" th:object="${customer}" method="post" style="margin-left:10px;">

    <label>Name:</label><br>
    <input type="text" th:field="*{name}" required><br><br>

    <label>Mobile:</label><br>
    <input type="text" th:field="*{mobile}" required><br><br>

    <label>Address:</label><br>
    <textarea th:field="*{address}"></textarea><br><br>

    <button type="submit">Save Customer</button>

</form>

<br>
<a href="/customers/list">View Customers</a>
<script th:src="@{/bootstrap-5.3.8-dist/js/bootstrap.bundle.min.js}"></script>

</body>
</html>
